{% extends 'base.html' %} 
{% block body %}
<form action="{{ url_for('search_results') }}" method="post" id="searchform">
  {{ form.hidden_tag() }}
  <div class="flex flex-col items-center justify-center h-screen m-0 font-sans gap-3">
    <!-- logo -->
    <img
      src="{{url_for('static',filename='src/logo.svg')}}"
      alt="logo"
      class="w-72 mb-10" />
  
    <!-- searchbar -->
    <div class="container w-1/2 md:flex items-center justify-center gap-2">
      <div class="gap-2 join w-full">
        {{ form.query(class="input input-bordered join-item w-full", placeholder="Search") }}
        <button type="submit" from="searchform" class="btn btn-primary join-item">
          <img src="{{ url_for('static', filename='src/search.svg') }}" alt="search" class="w-4 h-4 mr-2">
        </button>
      </div>
      {% include 'modalbar.html' %}
    </div>
    <div class="mt-10 text-center">
        <a href="{{ url_for('categories_home') }}" class="btn btn-primary text-xl">
            Browse Categories
        </a>
    </div>
  </div>
</form>

{% endblock %}
