<!-- templates/searchpage.html -->
{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('search_results') }}" method="post" id="searchform">
    {{ form.hidden_tag() }}
    
    <!-- Navbar -->
    <nav class="navbar p-4 shadow-md flex justify-between items-center">
        <a href="{{ url_for('index') }}" class="flex gap-2 w-20">
            <img src="https://assets.cdn.ifixit.com/static/icons/ifixit/favicon-96x96.png" alt="icon" class="w-10 h-fit object-fit">
            <p class="text-xl font-bold whitespace-nowrap items-center hidden lg:flex">iFixit KG</p>
        </a>
        <!-- Searchbar -->
        <div class="container mx-auto w-1/2 md:flex items-center justify-center gap-2 join">
            {{ form.query(class="input input-bordered join-item w-full", placeholder="Search") }}
            <button type="submit" class="btn join-item">
                <img src="{{ url_for('static', filename='src/search.svg') }}" alt="search" class="w-4 h-4 mr-2">
            </button>
        </div>
        <label for="my-drawer" class="btn drawer-button lg:hidden w-fit">more</label>
    </nav>

    <div class="drawer lg:drawer-open">
        <input id="my-drawer" type="checkbox" class="drawer-toggle" />
        
        <!-- Main Content -->
        <div class="drawer-content container mx-auto w-5/6 my-10">
            <h1 class="text-4xl font-bold mb-6 text-center text-gray-800">Search Results for "{{ query }}"</h1>

            {% if procedures %}
                <p class="text-lg font-light italic py-4">Found {{ procedures|length }} procedures matching "{{ query }}".</p>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    {% for procedure in procedures %}
                        <a href="{{ url_for('procedure_detail', guidid=procedure.guidid) }}" class="block bg-white rounded-lg shadow-md hover:shadow-xl transition-shadow duration-300 p-4">
                            <div class="flex items-center justify-center h-24 mb-4">
                                <!-- Procedure Image -->
                                {% if procedure.image %}
                                    <img src="{{ procedure.image[0].url }}" alt="{{ procedure.title }}" class="max-h-full">
                                {% else %}
                                    <!-- Placeholder Image -->
                                {% endif %}
                            </div>
                            <h2 class="text-xl font-semibold text-center">{{ procedure.title }}</h2>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center text-gray-600">No procedures match your search criteria.</p>
            {% endif %}
        </div>
        
        <!-- Sidebar -->
        <div class="drawer-side">
            <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="bg-base-200 min-h-full w-80 p-5 gap-4">
                {% include 'sidebar.html' %}
            </ul>
        </div>
    </div>
</form>
{% endblock %}
