{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('search_results') }}" method="post">
  <!-- Navbar -->
  <nav class="navbar p-4 shadow-md flex justify-between items-center">
      <a href="{{ url_for('index') }}" class="flex gap-2 w-20">
        <img src="https://assets.cdn.ifixit.com/static/icons/ifixit/favicon-96x96.png" alt="icon" class="w-10 h-fit object-fit">
        <p class="text-xl font-bold whitespace-nowrap items-center hidden lg:flex">iFixit KG</p>
      </a>
      <!-- Searchbar -->
      {{ form.hidden_tag() }}
      <div class="container mx-auto w-1/2 md:flex items-center justify-center gap-2 join">
        {{ form.query(class="input input-bordered join-item w-full", placeholder="Search") }}
        <button type="submit" class="btn join-item">
            <img src="{{ url_for('static', filename='src/search.svg') }}" alt="search" class="w-4 h-4 mr-2">
        </button>
      </div>
      <label for="my-drawer" class="btn drawer-button lg:hidden w-fit">more</label>
  </nav>
  
  <div class="drawer lg:drawer-open">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col items-center justify-center">
        {% include 'search_results.html' %}
      </div>
      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
          {% include 'sidebar.html' %}
        </ul>
      </div>
    </div>
</form>
{% endblock %}