<!-- templates/sidebar.html -->
{% macro render_category(category) %}
{% if category[1] %}
<li class="collapse collapse-arrow">
    <input type="checkbox" id="collapse-{{ category[0] }}" class="hidden peer" />
    <label class="collapse-title text-gray-700 text-sm font-bold cursor-pointer" for="collapse-{{ category[0] }}">
        <div class="flex items-center">
            <input type="checkbox" name="categories" value="{{ category[0] }}" class="mr-2 checkbox" />
            <label for="category[0].title" class="text-gray-700 text-sm">
            {{ category[0].title }} ( {{ category_counts[category[0]] }} )
            </label>
        </div>
    </label>
    <div class="collapse-content mr-0 pr-0">
        <ul class="list-none px-0">
            {% for subcategory in category[1] %}
                {{ render_category(subcategory) }}
            {% endfor %}
        </ul>
    </div>
</li>
{% else %}
<li class="p-4">
    <div class="flex items-center">
        <input type="checkbox" name="categories" value="{{ category[0] }}" class="mr-2 checkbox" />
        <label for="category[0].title" class="text-gray-700 text-sm">
        {{ category[0].title }} ( {{ category_counts[category[0]] }} )
        </label>
    </div>
</li>
{% endif %}
{% endmacro %}

<!-- Facet Filters -->
<ul class="list-none">
    <!-- Categories Collapse -->
    <li class="collapse collapse-arrow mb-4">
        <!-- Collapse Toggle Checkbox (hidden) -->
        <input type="checkbox" id="collapse-categories" class="hidden peer" />
        <label class="collapse-title text-gray-700 text-sm font-bold mb-2 cursor-pointer" for="collapse-categories">
            Categories
        </label>
        <div class="collapse-content m-0 p-0">
            <ul class="list-none px-0">
                <!-- Category Tree -->
                {% for category in category_hierarchy %}
                    {{ render_category(category) }}
                {% endfor %}
            </ul>
        </div>
    </li>

    <!-- Tools Collapse -->
    <li class="collapse collapse-arrow mb-4">
        <input type="checkbox" id="collapse-tools" class="hidden peer" />
        <label class="collapse-title text-gray-700 text-sm font-bold mb-2 cursor-pointer" for="collapse-tools">Tools</label>
        <div class="collapse-content">
            {% for tool in form.tools %}
                <div class="flex items-center mb-2">
                    <input 
                        type="checkbox" 
                        id="{{ tool.id }}" 
                        name="tools" 
                        value="{{ tool.data }}"
                        class="checkbox mr-2" 
                        {% if tool.data in (form.tools.data | default([])) %}checked{% endif %}>
                    <label for="{{ tool.id }}" class="text-gray-700 text-sm">{{ tool.label }}</label>
                </div>
            {% endfor %}
        </div>
    </li>

    <!-- Parts Collapse -->
    <li class="collapse collapse-arrow mb-4">
        <input type="checkbox" id="collapse-parts" class="hidden peer" />
        <label class="collapse-title text-gray-700 text-sm font-bold mb-2 cursor-pointer" for="collapse-parts">Parts</label>
        <div class="collapse-content">
            {% for part in form.parts %}
                <div class="flex items-center mb-2">
                    <input 
                        type="checkbox" 
                        id="{{ part.id }}" 
                        name="parts" 
                        value="{{ part.data }}"
                        class="checkbox mr-2" 
                        {% if part.data in (form.parts.data | default([])) %}checked{% endif %}>
                    <label for="{{ part.id }}" class="text-gray-700 text-sm">{{ part.label }}</label>
                </div>
            {% endfor %}
        </div>
    </li>

    <!-- Apply Filters Button -->
    <li>
        <button type="submit" class="btn btn-primary w-full">Apply Filters</button>
    </li>
</ul>